body {
  background-color: rgb(32, 32, 32);
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffa500;
  border-radius: 10px;
  padding: 5px;
}
.button {
  background-color: #dc8f02;
  color: white;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  margin: 10px auto 0px;
  display: flex;
  justify-content: center;
}
.button:hover {
  background-color: rgb(200, 131, 2);
  cursor: pointer;
}
.counter {
  font-size: 70px;
  color: #035b69;
}
#resetDiv {
  background-color: rgb(255, 104, 104);
  border: 3px solid red;
  width: 50px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto 0px;
  text-align: center;
  vertical-align: middle;
}
#resetDiv:hover {
  background-color: red;
  cursor: pointer;
}
#divCircles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 480px;
}
.circles {
  width: 20px;
  height: 20px;
  background-color: #035b69;
  border-radius: 50%;
  margin: 5px 5px 0px 0px;
}
.circlesTransparent {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 3px;
}
