body {
  background-color: orange;
  padding: 0px 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.subTitle {
  text-align: center;
}
#divRhombus {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rhombusTop {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid blue;
}
.rhombusBottom {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid blue;
}
.fullName {
  color: red;
}
