.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #007fff;
}

.rhombus {
  border: 50px solid transparent;
  border-bottom: 70px solid #007fff;
  position: relative;
  top: -50px;
  margin-top: 20px;
}
.rhombus:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 70px;
  border: 50px solid transparent;
  border-top: 70px solid #007fff;
}
