.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  background-color: rgb(255, 30, 0);
  height: 75px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
#inputContainer {
  display: flex;
  justify-content: center;
}
#inputText {
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}
#inputAdd {
  width: 50px;
  background-color: lightgray;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
#inputAdd:hover {
  background-color: gray;
  cursor: pointer;
}
#divList {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
#divList:hover {
  background-color: rgb(238, 238, 238);
}
.deleteLogo {
  color: red;
  font-weight: bold;
}
.deleteLogo:hover {
  cursor: pointer;
}
.description {
  font-size: 13px;
}
.loader {
  border: 10px solid rgb(255, 180, 180);
  border-radius: 50%;
  border-top: 10px solid red;
  width: 20px;
  height: 20px;
  margin: 10px auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
